@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
  --blue: #4E7AC7;
  --blue-dark: #16193B;
  --grey-dark: #282c34;
}

body, html {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.app {
  text-align: center;
}

section.main {
  max-width: 1244px;
  margin: 0 auto;
  padding: 0 2rem;
}

header.header {
  background-color: var(--blue-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 2rem;
}